
<h1>Administration</h1> 
<ul> 
	<li><%= link_to 'Manage Castles', admin_castles_path %></li> 
	<li><%= link_to 'Manage Photos', admin_photos_path %></li> 
	<li><%= link_to 'Manage Kokuin', admin_kokuins_path %></li> 
	<li><%= link_to 'Manage Resources', admin_resources_path %></li> 
</ul>